<!-- partial -->
<div class="main-panel">
    <div class="my-container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      </div>
    <div class="content-wrapper">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3" >
          <h5 class="card-title" style="color:#131e42">Manage Users:&nbsp; {{length}}</h5></div>
          <div class="col-md-1">
          <button (click)="createUser()" type="button" class="btn btn-success block">
              <img src="assets/icons/Create Companies.svg" style="height: 18px;"> Create User</button>
          </div>
          <div class="col-7" *ngIf="companies"  style="margin-left: 50px">
            <label>Select Company</label>&nbsp;
            <select [(ngModel)]="companyName" 
               required="" placeholder="select Company" 
              (change)="getUsersOfSelectedCompany()">
              <option>------</option>
              <option *ngFor="let company of companies">{{company.companyName}}</option>
              
            </select> 
         
          </div>
            </div>
          <div class="row">
            <div class="col-12 table-responsive">
              <table id="mydatatable" class="table table-striped">
                <thead style="background: #87ceeb;box-shadow: 1px 1px 1px 1px #cccccc;">
                    <tr >
                        <th >UserName</th>
                        <th >First Name</th>
                        <th >Role</th>
                        <th >Company Id</th>
                        <th >Email-ID</th> 
                        <th >Manage User</th>
                       
                        </tr>
                </thead>
                <tbody *ngIf="users">
                    <tr *ngFor="let myList of users; let i = index" [attr.data-index]="i" >
                        <td ><a (click)="showUser(myList)" style="background: transparent;cursor: pointer;"
                           data-toggle="modal" data-target="#myModal2">
                          {{myList.userName}}</a></td>
                         <td >{{myList.firstName}}</td>
                         <td >{{myList.role.name}}</td>
                         <td >{{myList.companyId}}</td>
                         <td >{{myList.email}}</td>
                         <td >
                          <button (click)="updateUser(myList.id,myList.companyId)" type="button" 
                          class="btn btn-primary block" >
                          <img src="assets/icons/Update.svg" style="height: 16px;">Update</button>
                            
                          <button (click)="deleteUser(myList)" type="button" class="btn btn-danger block"
                           data-toggle="modal" data-target="#myModal" >
                           <img src="assets/icons/Delete 2.svg" style="height: 16px;">Delete</button>
                           
                         </td>
                     
                       </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    
  </div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
      
        <div class="modal-header">
          <h4 class="modal-title">Confirm Delete?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        
        <div class="modal-body">
         <div *ngIf="userD">
            <h5>User name:{{userD.userName}}</h5>
          <h5>Name:{{userD.firstName}}</h5>
          <h5>Email:{{userD.email}}</h5>
          <h5>Role:{{userD.role.name}}</h5>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (mouseover)="confirmDelete()">Confirm Delete</button>
        </div>
        </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
        
      </div>
    </div>
  </div> 

  <!-- Modal Window 2 start-->
  <div class="modal" id="myModal2">
      <div class="modal-dialog" style="background: #87ceeb">
        <div class="modal-content">
        
          
          <div class="modal-header">
            <h4 class="modal-title">Details of  User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
        
          <div class="modal-body">
           <div *ngIf="sUser">
              <h5>Id:{{sUser.id}}</h5>
            <h5>User name:{{sUser.userName}}</h5>
            <h5>Name:{{sUser.firstName +' '+ sUser.lastName }}</h5>
            <h5>Email:{{sUser.email}}</h5>
            <h5>Role Id:{{sUser.role.roleID}}</h5>
            <h5>Role Name:{{sUser.role.name}}</h5>
            <h5>Phone Number:{{sUser.phoneNumber}}</h5>
            <h5>Created On:{{sUser.createdDateTime}}</h5>
            
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
          
        </div>
      </div>
    </div> <!-- Modal Window End -->



