

<!-- partial -->
<div class="main-panel">
  <div class="my-container">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
  <div class="content-wrapper">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3" >
              <h6 *ngIf="updatedUser" style="color: tomato">Device Id:&nbsp;{{updatedUser.deviceId}}
                  </h6>
        <h5 class="card-title" style="color:#131e42">Data&nbsp; {{length}}</h5></div>
        <div class="col-md-1">
       </div>
          </div>
        <div class="row" >
          <div class="col-12 table-responsive">
            <table id="mydatatable" class="table table-striped">
              <thead style="background: #87ceeb;box-shadow: 1px 1px 1px 1px #cccccc;">
                  <tr >
                      
                      
                      <th >batteryVoltage</th>
                      <th >chargingCurrent</th>
                      <th >solarVoltage</th> 
                      <th >mode</th> 
                      <th >daily</th> 
                      <th >monthly</th> 
                      <th >percent</th>
                      <th >latitude</th>
                      <th >longitude</th> 
                     
                      </tr>
              </thead>
              <tbody *ngIf="updatedUser">
                  <tr *ngFor="let object of users; let i = index" [attr.data-index]="i">
                      
                       <td >{{object.batteryVoltage}}</td>
                       <td >{{object.chargingCurrent}}</td>
                       <td >{{object.solarVoltage}}</td>
                       <td >{{object.mode}}</td>
                       <td >{{object.daily}}</td>
                       <td >{{object.monthly}}</td>
                       <td >{{object.percent}}</td>
                       <td >{{object.latitude}}</td>
                       <td >{{object.longitude}}</td>
                       
                   
                     </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
    
      <div class="modal-header">
        <h4 class="modal-title">Confirm Delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      
      <div class="modal-body">
       <div *ngIf="deviceD">
          <h5>User name:{{deviceD.userName}}</h5>
        <h5>Name:{{deviceD.firstName}}</h5>
        <h5>Email:{{deviceD.email}}</h5>
        <h5>Role:{{deviceD.role.name}}</h5>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (mouseover)="confirmDelete()">Confirm Delete</button>
      </div>
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
      
    </div>
  </div>
</div> 

<!-- Modal Window 2 start-->
<div class="modal" id="myModal2">
    <div class="modal-dialog" style="background: #87ceeb">
      <div class="modal-content">
      
        
        <div class="modal-header">
          <h4 class="modal-title">Details of  User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
<!--       
        <div class="modal-body">
         <div *ngIf="sdevice">
            <h5>Id:{{sdevice.id}}</h5>
          <h5>User name:{{sdevice.userName}}</h5>
          <h5>Name:{{sdevice.firstName +' '+ sdevice.lastName }}</h5>
          <h5>Email:{{sdevice.email}}</h5>
          <h5>Role Id:{{sdevice.role.}}</h5>
          <h5>Role Name:{{sdevice.role.name}}</h5>
          <h5>Phone Number:{{sdevice.phoneNumber}}</h5>
          <h5>Created On:{{sdevice.createdDateTime}}</h5>
          
          
        </div> -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div> -->
        
      </div>
    </div>
  </div> <!-- Modal Window End -->



