<!-- partial -->
<div class="main-panel" >
    <div class="content-wrapper">
      <div class="card">
         
       <div class="card-body">
          <h5 class="card-title">UPDATE USER</h5>
            
            <h6 *ngIf="updatedUser" style="color: tomato">User id:&nbsp;{{updatedUser.id}},&nbsp;
              User name:&nbsp;{{updatedUser.firstName}}&nbsp;{{updatedUser.lastName}}</h6>
            
          <div class="row">
              <div class="col-md-6" *ngIf="updatedUser">
                  <form class="form-horizontal" (ngSubmit)="updateUser()">
                     
                    <div class="form-group">
                      <label>Phone Number</label>
                      <input type="text" name="phoneNumber" class="form-control"
                      [(ngModel)]="updatedUser.phoneNumber" style="padding: 9px;" placeholder="Enter Phone Number">
                  </div>
                 <div class="form-group">
                     <label>User Name</label>
                     <input type="text" name="userName" class="form-control"
                    [(ngModel)]="updatedUser.userName" style="padding: 9px;" placeholder="Enter User Name">
                </div>
                <div class="form-group">
                   <label>Password</label>
                       <input type="password" name="password" class="form-control"
                      [(ngModel)]="updatedUser.password" style="padding: 9px;" placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                     <input type="password" name="cPassword" class="form-control"
                    style="padding: 9px;" (keyup)="confirmPassword($event)" placeholder="Enter Confirm password">
                    <span style="float:right" *ngIf="cpy">
                    <i class="fa fa-check-circle-o" aria-hidden="true" style="color: rgb(9, 238, 9)"></i></span>
                    <span style="float:right" *ngIf="!cpy">
                    <i class="fa fa-window-close" aria-hidden="true" style="color: red"></i></span>
                   </div>
                   <div class="form-group">
                       <label>Company Id</label>
                        <input name="companyId" class="form-control" [(ngModel)]="updatedUser.companyId"
                          (change)="selectedCompanyId()" style="padding: 9px;" readonly 
                          placeholder="Enter companyId">
                          
                        
                     </div>
                    <div class="form-group">
                      <label>Email</label>
                        <input type="text" name="email" class="form-control" 
                         [(ngModel)]="updatedUser.email" style="padding: 9px;" placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                    <label>First Name</label>
                     <input type="text" name="firstName" class="form-control"
                    [(ngModel)]="updatedUser.firstName" style="padding: 9px;" placeholder="Enter First Name">
                </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastName" class="form-control"
                [(ngModel)]="updatedUser.lastName" style="padding: 9px;" placeholder="Enter last name">
              </div>
              <div class="form-group">
                <label>Role Name</label>
                <select name="roleName" *ngIf="!bRole" class="form-control" [(ngModel)]="updatedUser.role.name"
                 (change)="selectedRole()" style="padding: 9px;">
                 <option>--------</option>
                <option *ngFor="let role of roles">{{role}}</option>
              </select>
              <input type="text" name="roleName" *ngIf="bRole" class="form-control" [(ngModel)]="updatedUser.role.name" readonly
              style="padding: 9px;">
              </div>
              <div class="form-group">
                <label>Project Name</label>
                <select name="projectName" *ngIf="!bRole" class="form-control" [(ngModel)]="updatedUser.project.projectName"
                (change)="selectedProject()" style="padding: 9px;">
                <option>-----</option>
               <option *ngFor="let project of projects">{{project}}</option>
              </select>
              <input type="text" name="projectName" *ngIf="bRole" class="form-control" 
              [(ngModel)]="updatedUser.project.projectName" readonly
              style="padding: 9px;">
              </div>
               <button type="submit" class="btn btn-success btn-icon" style="margin-left: 10px;">
                        Update</button>
                <button (click)="cancelUpdate()" class="btn btn-danger btn-icon" style="margin-left: 10px;">
                Cancel</button>
                </form>
              </div> 
            
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    
  </div>

